<app-navbar></app-navbar>

<div class="select-container">
    <div>
        <div>
            Flatwala has the best flats for any city of your choice. Search for 100+ flats in just <strong> one click.</strong>
        </div>
        <br>
        <button mat-raised-button color="primary" routerLink="../searchFlat">Search for flats</button>
    </div>
    
    <div>
        <div>
            Over 700 customers search for flats daily from 30+ different cities. <strong>Register</strong> your flat now.
        </div>
        <br>
        <button mat-raised-button color="primary" routerLink="../registerFlat"> Register a flat </button>
    </div>
    
</div>