@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body {
    font-family: 'open sans';
    overflow-x: hidden; }

.container {
    padding: 20px 50px;
    /* min-height: 100px; */
}

.fa-yoast {
    color: #ac1f32;
    font-weight: bold
}

.h4 {
    font-family: 'Poppins', sans-serif
}

a {
    color: #333
}

a:hover {
    text-decoration: none;
    color: #444
}

.search {
    background-color: #fdfbfc
}

.search input {
    width: 100px;
    border: none;
    outline: none;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fdfbfc
}

div.btn,
button.btn {
    background-color: #00dd16;
    color: #eee
}

div.btn:hover,
button.btn:hover {
    background-color: #0dff29d7
}

.navbar-light .navbar-nav .nav-link {
    color: #333
}

nav {
    float: left
}

#language {
    float: right
}

#language select {
    border: none;
    outline: none
}

.wrapper {
    width: 85%;
    margin: 20px auto;
    box-shadow: 1px 1px 30px 10px rgba(250, 250, 250, 0.8)
}

.h3 {
    padding-top: 40px;
    font-size: 34px
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700
}

input {
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    width: 100%;
    padding-bottom: 10px
}

.wrapper {
    clear: both
}

#country {
    border: none;
    outline: none;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd
}

.wrapper .col-md-6:hover label {
    color: #049e2a
}

.wrapper .col-md-6:hover input,
.wrapper .col-md-6:hover #country {
    border-color: #049e2a;
    cursor: pointer
}

.wrapper .col-md-6 input:focus {
    border-color: #049e2a
}

.option {
    position: relative;
    padding-left: 20px;
    display: inline;
   
    cursor: pointer;
    color: #888
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "\2713";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out 0s
}

.option:hover input[type="radio"]~.checkmark {
    background-color: #f4f4f4
}

.option input[type="radio"]:checked~.checkmark {
    background: #ac1f32;
    color: #fff;
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
    color: #fff
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 0rem
    }

    .navbar {
        padding: 0.5rem 0rem;
        width: 75%
    }
}

@media(max-width: 991px) {
    .dropdown-menu {
        border: none
    }

    #language {
        padding-top: 20px
    }

    .navbar {
        padding: 0.5rem 0rem
    }
}

@media(max-width: 767px) {
    .search input {
        width: 90%
    }

    .search {
        margin-bottom: 10px
    }

    div.btn {
        width: 100%
    }

    .h3 {
        font-size: 25px
    }

    .brand {
        text-align: center
    }

    .container {
        padding: 20px;
        margin-left: 0px
    }

    .navbar {
        padding: 0.5rem 0rem
    }
}

@media(max-width: 374px) {
    .h3 {
        font-size: 21px
    }
}

#btnradio1 {
    background-color: whitesmoke;
    /* Green background */
    border: 1px solid black;
    /* Green border */
    color: black;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

.btn-square-md {
    margin-left: 20;
    width: 40px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 40px !important;
    text-align: center;
    padding: 0px;
    font-size: 12px;
}

/* html{
        margin:80px;
    }
    select{
        height:48px;
        width:80px;
        font-size:18px;
    } */
.ui-datepicker-calendar {
    display: none;
}

.btn-custom {
    background-color: #24ad44;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
    height: 48px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #aeeb94;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(230, 230, 230), rgb(241, 241, 241));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(247, 247, 247), rgb(242, 242, 242))
}

.gradient-inner {
    /* fallback for old browsers */
    background: #bdbcbd;

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255)); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255)) */
}

.drop-down {
    /* fallback for old browsers */
    /* background: #7da485; */
    background: rgba(183, 183, 183, 0.1)
}


.well-searchbox {
    min-height: 20px;
    min-width: 400px;
    padding: 19px;
    position: absolute;
    z-index: 80;
    top: 160px;
    right: 100px;
    background: rgba(187, 187, 187, 0.6);
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(244, 244, 244, 0.05);
    box-shadow: inset 0 1px 1px rgba(185, 185, 185, 0.05);
}

.search-background img {
    width: 100%;
    height: 300vh;
}