<!-- <section class="vh-200 "> -->
<app-navbar></app-navbar>

<!-- <div class="search-background">
    <img src="assets/images/registerFlatImages/g2.jpeg">
</div> -->


<div class="container gradient-custom mt-sm-5 mb-5 ">

    <div class="wrapper d-flex justify-content-center flex-column px-md-10 px-10 gradient-inner  well-searchbox ">
        <div class="h1  font-weight-bold  font-family: 'open sans'"><b>Sell or Rent Your Property</b></div>
        <br><br>

        <div class="h1 text-center font-weight-bold"><b>Personal Details</b></div>
        <br>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label class="mt-md-1 ms-1 mt-2 " for="ownerType">
                    <font size="3">I am</font>

                </label>


                <div class="d-lg-flex flex-md-row  pb-4">
                    <div class="p-4 size "> <label class="option"> <input type="radio" formControlName="ownerType"
                                name="ownerType" value="Owner">
                            <font size="2">Owner</font> <span class="checkmark"></span>
                        </label> </div>
                    <div class="p-4 size "> <label class="option"> <input type="radio" formControlName="ownerType"
                                name="ownerType" value="Agent">
                            <font size="2">Agent</font> <span class="checkmark"></span>
                        </label> </div>
                    <div class="p-4 size "> <label class="option"> <input type="radio" formControlName="ownerType"
                                name="ownerType" value="Builder">
                            <font size="2">Builder</font> <span class="checkmark"></span>
                        </label> </div>
                </div>
            </div>


            <div class="row my-md-4 my-2">
                <div class="col-md-6 pt-md-0 pt-4"> <label for="ownerName">
                        <font size="3">Full Name</font>
                    </label> <input class="drop-down" type="text" formControlName="ownerName" placeholder="John Doe">
                </div>
            </div>



            <div class="row my-md-4 my-2">
                <div class="col-md-6 pt-md-0 pt-4"> <label for="ownerMail">
                        <font size="3">Mail</font>
                    </label> <input class="drop-down" type="email" name="ownerMail" formControlName="ownerMail"
                        placeholder="email@mail.com"> </div>
            </div>



            <div class="row my-md-4 my-3">
                <div class="col-md-6 pt-md-0 pt-4" for="ownerPhone"> <label>
                        <font size="3">Phone</font>
                    </label> <input class="drop-down" type="tel" formControlName="ownerPhone"
                        placeholder="+91 XXX XXX XXXX"> </div>
            </div>

            <br><br>


            <div class="h1 text-center font-weight-bold"><b>Property Features And Location</b></div>
            <div class="row my-md-4 my-0">
                <div class="col-md-6 pt-md-0 pt-4 "> <label for="flatName">
                        <font size="3">Flat Name</font>
                    </label> <input class="drop-down" type="text" formControlName="flatName"
                        placeholder="Enter Flat Name"> </div>
            </div>
            <div class="row my-md-4 my-4">
                <div class="col-md-5 " for="city"> <label>
                        <font size="3">City</font>
                    </label><input class="drop-down" type="text" formControlName="city" style="margin-left: 5px;"
                        placeholder="Enter City"> </div>

                <div class="col-md-6 "> <label for="locality">
                        <font size="3">Locality</font>
                    </label> <input class="drop-down" type="text" formControlName="locality"
                        placeholder="Enter Locality"> </div>
            </div>

            <div class="row my-md-4 my-0">
                <div class="col-md-6 pt-md-0 pt-4 "> <label for="rent">
                        <font size="3">Rent</font>
                    </label> <input class="drop-down" type="number" formControlName="rent"
                        placeholder="Enter Rent Amount"> </div>
            </div>

           

            <div class="text-left " for="bHK">
                <font size="3"><b>Bedrooms</b></font>
            </div>
            <div class="form-group">
                <div class=" row my-md-4 my-5">
                    <div class="btn-group">
                        <input type="radio" class=" btn-check" name="bHK" formControlName="bHK" value="1" id="btnradio1"
                            autocomplete="off" checked>
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnradio1">
                            <font size=3>1</font>
                        </label>

                        <input type="radio" class=" btn-check" name="bHK" formControlName="bHK" value="2" id="btnradio2"
                            autocomplete="off">
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnradio2">
                            <font size=3>2</font>
                        </label>

                        <input type="radio" class=" btn-check" name="bHK" formControlName="bHK" value="3" id="btnradio3"
                            autocomplete="off">
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnradio3">
                            <font size=3>3</font>
                        </label>

                        <input type="radio" class=" btn-check" name="bHK" formControlName="bHK" value="4" id="btnradio4"
                            autocomplete="off">
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnradio4">
                            <font size=3>4</font>
                        </label>


                    </div>
                </div>

                <br><br>
                <div class="text-left ">
                    <font size="3"><b>Balconies</b></font>
                </div>
                <div class=" row my-md-1 my-5">
                    <div class="btn-group">
                        <input type="radio" class=" btn-check" name="btnradio" id="btnbal1" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnbal1">
                            <font size=3>1</font>
                        </label>

                        <input type="radio" class=" btn-check" name="btnradio" id="btnbal2" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnbal2">
                            <font size=3>2</font>
                        </label>

                        <input type="radio" class=" btn-check" name="btnradio" id="btnbal3" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnbal3">
                            <font size=3>3</font>
                        </label>
                        <input type="radio" class=" btn-check" name="btnradio" id="btnbal09" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-square-sm" for="btnbal09">
                            <font size=3>4</font>
                        </label>


                        <!-- <select class="selectpicker drop-down ">
                            <option style="font-weight: bold; font-size: auto;">7</option>
                            <option style="font-weight: bold;">4</option>
                            <option style="font-weight: bold;">5</option>
                            <option style="font-weight: bold;">6</option>
                            <option style="font-weight: bold;">7</option>
                            <option style="font-weight: bold;">8</option>
                            <option style="font-weight: bold;">9</option>
                            <option style="font-weight: bold;">10</option>
                            <option style="font-weight: bold;">11</option>
                            <option style="font-weight: bold;">12</option>
                            <option style="font-weight: bold;">13</option>
                            <option style="font-weight: bold;">14</option>
                            <option style="font-weight: bold;">15</option>
                            <option style="font-weight: bold;">16</option>
                            <option style="font-weight: bold;">17</option>
                            <option style="font-weight: bold;">18</option>
                            <option style="font-weight: bold;">19</option>
                        </select> -->

                    </div>
                </div>
                <br><br>
                <div class="text-left ">
                    <font size="3"><b>Floor No:</b></font>
                </div>
                <div class="row my-md-1 my-7 ">
                    <div class="btn-group">
                        <input type="radio" class=" btn-check" name="floorNo" id="flrad-1" autocomplete="off"
                            formControlName="floorNo" value="Basement">
                        <label class="btn btn-outline-secondary btn-square-sm" for="flrad-1">
                            <font size=2>Basement</font>
                        </label>

                        <input type="radio" class=" btn-check" name="floorNo" id="flrad0" autocomplete="off"
                            formControlName="floorNo" value="Ground Floor">
                        <label class="btn btn-outline-secondary btn-square-sm" for="flrad0">
                            <font size=2>Ground Floor</font>
                        </label>

                        <input type="radio" class=" btn-check" name="floorNo" id="flrad1" autocomplete="off"
                            formControlName="floorNo" value="1st Floor">
                        <label class="btn btn-outline-secondary btn-square-sm" for="flrad1">
                            <font size=2>1</font>
                        </label>

                        <input type="radio" class=" btn-check" name="floorNo" id="flrad2" autocomplete="off"
                            formControlName="floorNo" value="2nd Floor">
                        <label class="btn btn-outline-secondary btn-square-sm" for="flrad2">
                            <font size=2>2</font>
                        </label>

                        <input type="radio" class=" btn-check" name="floorNo" id="flrad3" autocomplete="off"
                            formControlName="floorNo" value="3rd Floor">
                        <label class="btn btn-outline-secondary btn-square-sm" for="flrad3">
                            <font size=2>3</font>
                        </label>

                        <input type="radio" class=" btn-check" name="floorNo" id="flrad4" autocomplete="off"
                            formControlName="floorNo" value="4th Floor">
                        <label class="btn btn-outline-secondary btn-square-sm" for="flrad4">
                            <font size=2>4</font>
                        </label>





                    </div>
                </div>
                <br><br>

                <div class="text-left " for="furnishedStatus">
                    <font size="3"><b>Furnished Status</b></font>
                </div>
                <div class=" row my-md-1 my-8">
                    <div class="btn-group">
                        <input type="radio" class=" btn-check" name="furnishedStatus" formControlName="furnishedStatus"
                            value="Furnished" id="btnfur" autocomplete="off" checked>
                        <label class="col-md-3 btn btn-outline-secondary btn-square-sm" for="btnfur">
                            <font size=3>Furnished</font>
                        </label>

                        <input type="radio" class=" btn-check" name="furnishedStatus" formControlName="furnishedStatus"
                            value="Semi-Furnished" id="btnfur1" autocomplete="off">
                        <label class=" col-md-3 btn btn-outline-secondary btn-square-sm" for="btnfur1">
                            <font size=3>Semi-Furnished</font>
                        </label>

                        <input type="radio" class=" btn-check" name="furnishedStatus" formControlName="furnishedStatus"
                            value="Not Furnished" id="btnfur2" autocomplete="off">
                        <label class="col-md-3 btn btn-outline-secondary btn-square-sm" for="btnfur2">
                            <font size=3>Unfurnished</font>
                        </label>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <br><br>

                <div class=" col-md-7 pt-md-0 pt-4"> <label>
                        <font size="3">Number of Bathrooms</font>
                    </label> </div>
            </div>

            <div class=" col-md-7 pt-md-0 pt-4 row my-md-1 my-8">
                <!-- <div class="col-md-4 pt-md-0 pt-4"> <input type="number" placeholder="Enter Number"> </div>
                    <div class="col-md-1 pt-md-0 pt-4"></div> -->
                <div class=" btn-group">

                    <input type="radio" class=" btn-check" name="bathroom" id="btnbath1" autocomplete="off" checked
                        formControlName="bathroom" value="1">
                    <label class=" col-md-3 btn btn-outline-secondary btn-square-sm" for="btnbath1">
                        <font size=2>1</font>
                    </label>

                    <input type="radio" class=" btn-check" name="bathroom" id="btnbath2" autocomplete="off"
                        formControlName="bathroom" value="2">
                    <label class=" col-md-3 btn btn-outline-secondary btn-square-sm" for="btnbath2">
                        <font size=2>2</font>
                    </label>

                    <input type="radio" class=" btn-check" name="bathroom" id="btnbath3" autocomplete="off"
                        formControlName="bathroom" value="3">
                    <label class="col-md-3 btn btn-outline-secondary btn-square-sm" for="btnbath3">
                        <font size=2>3</font>
                    </label>

                    <input type="radio" class=" btn-check" name="bathroom" id="btnbath4" autocomplete="off"
                        formControlName="bathroom" value="4">
                    <label class=" col-md-3 btn btn-outline-secondary btn-square-sm" for="btnbath4">
                        <font size=2>4</font>
                    </label>

                </div>
            </div>

            <br><br><br><br>
            <!-- <div>
                    <br>
                    <div class="h4 text-left font-weight-bold margin:80px;"><b>Expected Price</b></div>
                    <input type="number" class="form-control w-25 border border-dark drop-down" name="email"
                        placeholder="Please Enter the Amount" required>
    
                    <br><br><br>
                </div> -->

            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!form.valid">Submit</button>
        </form>

    </div>
</div>

<!-- </section> -->