<head>
    <title>Flatwala</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="w3hubs.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <style type="text/css">
        body {
            background-color: #f0f2f5;
            font-family: "Nunito Sans";
        }

        .login-form {
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            background-color: #fff;
            padding: 25px;
        }

        h3 {
            padding-left: 30px;
            padding-right: 20px;
        }

        .btn-custom {
            background-color: #28a745;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            line-height: 28px;
            color: #fff;
            font-weight: 700;
            height: 48px;
        }

        .btn-custom {
            color: #fff !important;
        }

        input {
            height: 52px;
            font-size: 18px !important;
            color: #f2f2f2;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0 rgba(13, 110, 253, .25);
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        @media(max-width: 768px) {

            .col-md-7,
            p {
                display: none;
            }

            input {
                font-size: 16px !important;
            }

            .login-form {
                box-shadow: none;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
            <div class="col-md-7">
                <img src="assets/images/logo3.png" class="w-75">
                <!-- <h3>Facebook helps you connect and share with the people in your life.</h3> -->
            </div>
            <div class="col-md-5">
                <form class="login-form" action="#">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="email" [(ngModel)]="email"
                            placeholder="Enter Email address" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" [(ngModel)]="password"
                            placeholder="Enter Password" required>
                        <a routerLink="../forget" class="link-primary fs-3">Forgotten password?</a>
                    </div>

                    <button type="button" class="btn btn-custom btn-lg btn-block mt-3" (click)="login()">Login</button>
                    <div class="text-center">
                        <button type="button" class="btn btn-custom btn-lg btn-block mt-3"
                            routerLink="../register">Create
                            New Account</button>
                        <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                            <asl-google-signin-button *ngIf="!user" type="standard"
                                size="large"></asl-google-signin-button>
                        </button> -->
                        <div class="row mt-3 my-10">
                            <div class="col-md-1"></div>
                            <div class="col-md-12">
                                <a (click)="signWithGoogle()" style="text-decoration : none; cursor: pointer;">
                                    <div class="card shadow text-center" style="border-radius: 5px;">
                                        <div class="card-body btn-custom" style="background-color: #fff;">
                                            <img src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" alt=""
                                                height="24px" width="24px" class="mr-3 mb-1"> <span
                                                style="color: #0d6efd;">Sign In with Google</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h1 align="center" class="mt-5">
        <font size="6"><b>Why use Flatwala</b></font>
    </h1>
    <br>
    <div class="d-flex  justify-content-around ">

        <div class="card m-1 p-4" style="width:300px">
            <img class="card-img-top w-50 mb-3" style="margin-left: 70px;" src="assets/images/Avoidbroker.png"
                alt="Card image">
            <div class="card-body">
                <h2 class="card-title" align="center"><b>Avoid Brokers</b> </h2>
                <h5 class="card-text" align="center">We directly connect you to verified owners to save brokerage</h5>

            </div>
        </div>
        <div class="card m-1 p-4" style="width:300px">
            <img class="card-img-top mt-2 mb-3" style="margin-left: 95px; width: 80px;"
                src="assets/images/freelisting.png" alt="Card image">
            <div class="card-body">
                <h2 class="card-title" align="center"><b>Free Listing</b> </h2>
                <h5 class="card-text" align="center">Easy Listing Process. Also using Whatsapp</h5>

            </div>
        </div>
        <div class="card m-1 p-4" style="width:300px">
            <img class="card-img-top mt-2 w-50 mb-3" style="margin-left: 70px;" src="assets/images/shortlist.png"
                alt="Card image">
            <div class="card-body">
                <h2 class="card-title" align="center"><b>Shortlist Without Visit</b> </h2>
                <h5 class="card-text" align="center">Extensive Info makes it Easy</h5>

            </div>
        </div>
        <div class="card m-1 p-4" style="width:300px">
            <img class="card-img-top mt-2 mb-3" style="margin-left: 95px; width: 80px;"
                src="assets/images/rentalagreement.png" alt="Card image">
            <div class="card-body">
                <h2 class="card-title" align="center"><b>Rental Agreement</b> </h2>
                <h5 class="card-text" align="center">Assistance in Creating Rental Agreement & Paper work</h5>

            </div>
        </div>
    </div>
    <br><br>
    <div class="mt-5 container">
        <h1 align="center">
            <font size="6"><b>What Makes Us Different</b></font>
        </h1>
        <img src="assets/images/diffrence.png" class="w-100">
    </div>

    <br><br>

    <!---    Footer Footer                -->


    <!-- <div class="container my-5"> -->
    <div>
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color: #53ab82">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <div class="h6">
                                <h6 class="text-uppercase mb-4 font-weight-bold ">
                                    FlatWala
                                </h6>
                            </div>
                            <p>
                                FlatWala, where you’ll find the best 4 BHK and 3 BHK Flats For Sale in Mumbai. Whether
                                you’re buying a property for investment or for personal use, we can help you find the
                                perfect deal.
                            </p>

                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />



                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <div class="h6">
                                <h6 class="text-uppercase mb-4 font-weight "> Contact US</h6>
                            </div>

                            <p><span class="glyphicon glyphicon-home"></span> 400063-Goregoan , Mumbai , Maharashtra ,
                                India</p>
                            <p><span class="glyphicon glyphicon-envelope"></span> flatwala@gmail.com</p>
                            <p><span class="glyphicon glyphicon-earphone"></span> + 01 234 567 88</p>
                            <p><span class="glyphicon glyphicon-earphone"></span> + 01 234 567 89</p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <div class="h6">
                                <h6 class="text-uppercase mb-4 font-weight-bold ">Follow us</h6>
                            </div>
                            <!--------------------- ICON HREF--------------------------------->

                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-google"></a>

                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="https://gitlab.com/shivii7519/flatwala" class="fa fa-github"></a>


                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="http://localhost:4200/">flatwala.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
</body>