.fa {
    padding: 13px;
    font-size: 12px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-google {
    background: #dd4b39;
    color: white;
}


.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #333333;
    color: white;
}

.h6 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    margin: 15px 35px;
}