<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>

<body>
    <app-navbar></app-navbar>

    <div class="modal" id="ownerModal" tabindex="-1" role="dialog" *ngIf="flat_details">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Owner Details</h3>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
                </div>
                <div class="modal-body">
                    <!-- <p>Modal body text goes here.</p> -->
                    <div class="d-flex flex-column justify-content-start user-profile w-100">
                        <div class="d-flex user">
                            <img class="rounded-circle"
                                src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg"
                                width="50">
                            <div class="about ml-1">
                                <h3 class="d-block text-black font-weight-bold">{{flat_details.ownerName}}</h3>
                                <h3>{{flat_details.ownerType}}</h3>
                            </div>
                        </div>
                        <div class="progresses">
                            <h4>Phone no</h4>
                            <div class="progress mt-1" style="height: 20px;">
                                <h4 style="width: 50%; margin-left: 20px;">{{flat_details.ownerPhone}}</h4>
                            </div>
                        </div>
                        <div class="progresses">
                            <h4>Email id</h4>
                            <div class="progress mt-1" style="height: 20px;">
                                <h4 style="width: 50%; margin-left: 20px;">{{flat_details.ownerMail}}</h4>
                            </div>
                        </div>
                        <div class="progresses">
                            <h4>Address</h4>
                            <div class="progress mt-1" style="height: 80px;">
                                <!-- <h4 style="width: 50%; height: 70%; margin-left: 20px;">Npci</h4>
                            <h4 style="width: 50%; height: 70%; margin-left: 20px;">mumbai</h4>  -->
                                <ul>
                                    <li>
                                        <h4>{{flat_details.locality}}</h4>
                                    </li>
                                    <li>
                                        <h4>{{flat_details.city}}</h4>
                                    </li>
                                    <li>
                                        <h4>India</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    <button type="button" class="btn btn-secondary" style="background-color: blue;"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img
                                    src="https://www.buildingplanner.in/images/ready-plans/34N1002.jpg" /></div>
                            <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>

                        </div>

                       
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img width=100px height=100px
                                        src="https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img width=100px height=100px
                                        src="https://images.pexels.com/photos/1457847/pexels-photo-1457847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img width=100px height=100px
                                        src="https://images.unsplash.com/photo-1598928636135-d146006ff4be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img width=100px height=100px
                                        src="https://images.unsplash.com/photo-1616594039964-ae9021a400a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img width=100px height=100px
                                        src="https://images.unsplash.com/photo-1524549207884-e7d1130ae2f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" /></a></li>
                                        <br><br><br><br> <br><br><br>

                            <!--Google map-->
                            <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d482632.8035770961!2d72.6009788537384!3d19.08268809627086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1676310710592!5m2!1sen!2sin"
                                    width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"> frameborder="0"
                                    style="border:2" allowfullscreen></iframe>
                            </div>

                            <!--Google Maps-->


                        </ul>

                    </div>
                    <div class="details col-md-6" *ngIf="flat_details">
                        <h2 class="product-title">{{flat_details.flatName}}</h2>
                        <h3 class="product-title"> {{flat_details.bHK}}BHK Flat In {{flat_details.locality}} For Rent In
                            {{flat_details.city}}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-description">No water problem,Full of ventilation & Very very well
                            connected.This 1150 sqft. Home is on the 2nd floor & comes with ample parking place for car.
                            This home
                            is well equipped with 2 wardrobes & also has 2 bathrooms. This home faces the East
                            direction.
                            If you need amenities such as battery back up, security & elevator you will be happy to note
                            that this home has this & more.
                        </p>
                        <h4 class="price">Rent price: <span>{{flat_details.rent | currency:'INR'}}</span></h4>
                        <h4 class="price">Deposite price: <span> {{(flat_details.rent+5000) | currency:'INR'}}</span>
                        </h4>

                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong>
                        </p>
                        <h5 class="sizes">Bedrooms :
                            <span class="size" title="small">{{flat_details.bHK}}</span>
                        </h5>

                        <h5 class="sizes">Bathrooms :
                            <span class="size" title="small">{{flat_details.bathroom}}</span>
                        </h5>

                        <h5 class="sizes">Floor No. :
                            <span class="size" title="small">{{flat_details.floorNo}}</span>
                        </h5>

                        <h5 class="sizes">Furnished Status :
                            <span class="size" title="small">{{flat_details.furnishedStatus}}</span>
                        </h5>

                        <h5 class="sizes">Preferred Tenant :
                            <span class="size" data-toggle="tooltip" title="small">Family</span>
                        </h5>
                        <h5 class="sizes">Posted On :
                            <span class="size" data-toggle="tooltip" title="small">09 Feb 2022</span>
                        </h5>

                        <div class="action">
                            <button (click)="ownerDetails()" class="add-to-cart btn btn-default" type="button">Contact
                                Owner</button>
                            <button class="like btn btn-default m-3" type="button"
                                (click)="addToWishlist(flat_details.flatId)">Add to Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>