<mat-toolbar style="background-color:rgba(233, 231, 231, 0.966);min-height: 100px; padding: 20px" id="navbar" >
  <!-- <div class="content sticky"> -->
  <span> <img src="assets/images/logo3.png" style="width: 150px;"> </span>

  <button class="button-29" role="button" routerLink="../home"> Home </button>
  <button class="button-29" role="button" routerLink="../searchFlat">Search Flats</button>
  <button class="button-29" role="button" routerLink="../myListing">My Listing</button>
  <button class="button-29" role="button" routerLink="../wishlist">Wishlist</button>

  <div class="spacer"></div>

  <div class="m-3 d-flex justify-content-between align-items-center" style="color: #3f51b5;">
    <!-- <span class="glyphicon glyphicon-user" *ngIf="!photoURL"></span> -->
    <img src="{{photoURL}}" class="profilePic" *ngIf="photoFound"> &nbsp;
    <!-- {{userName}} -->
  </div>

  <!-- <button class="button-29" role="button" (click)="signOut()">Sign Out</button> -->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle btn-lg" style="background-color: #68b165;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.name}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="font-size: medium; cursor: pointer; text-decoration: none;" (click)="signOut()">Sign Out</a>
      <!-- <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
  </div>
<!-- </div> -->
</mat-toolbar>