<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 align="center" style="margin-top: 20px;" *ngIf="apartments.length==0"> <b>You have no flats in your Wishlist!</b> </h1>
<div class="container mt-5 mb-5 zoom" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; width: 80%;"
    *ngFor="let flat of apartments">
    <!-- {{flat.flat.flatName}} -->
    <div class="row">
        <!-- <div class="col-md-12" style="width: 80%;">  -->
        <div class="bg-white p-3 rounded mt-2">
            <div class="row">
                <div class="col-md-3"
                    style="width: 40%; margin-right: 80px; padding-left: 20px; padding-top: 50px; padding-bottom: 30px;">

                    <div class="d-flex flex-column justify-content-center"
                        style=" align-items: center; width: 90%; height: 70%;">
                        <!-- <i class="fa fa-flask fa-5x mb-3 mt-5"></i> -->

                        <!-- <span class="mb-4">Hands on Lab</span> -->

                        <!-- <div style="margin-top: 10px;"> -->
                        <img width="90%" src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070__340.jpg"
                            alt="">
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-md-6 border-right" style="margin-left: -80px; padding-top: 10px; width: 30%;">
                    <div class="listing-title">
                        <h1>{{flat.flatName}}</h1>
                    </div>
                    <div class="bhk">
                        <h4>{{flat.bHK}} BHK</h4>
                        <h4>500 sqft</h4>
                    </div>
                    <div class="bhk1">
                        <h4>Price <br> ₹ {{flat.rent}}</h4>
                        <h4>Deposit <br> ₹ 10000</h4>
                    </div>
                    <!-- </div>  -->
                    <div class="bhk">
                        <h4>Furnished</h4>
                        <h4>Available</h4>
                    </div>
                    <div class="tags mb-2" id="rating">
                        <span>Ratings</span>
                    </div>
                    <div class="rating">

                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </div>
                    <!-- </div>  -->
                </div>

                <div class="d-flex col-md-3"
                    style="background-color: rgb(250, 246, 246); height: 300px; margin-top: 20px;">
                    
                    <div style="padding-top: 20px; margin: auto; width:120px ">
                        <button (click)="ownerDetails(flat)"
                            style="border-radius: 8px; color:white; background-color: rgb(58, 31, 216); border-color: rgb(58, 31, 216); padding: 8px; font-size: 16px; ">Contact
                            Owner</button><br><br>
                        <button (click)="getFlatDetails(flat.flatId)"
                            style="border-radius: 8px; color:white; background-color: rgb(58, 31, 216); border-color: rgb(58, 31, 216); padding: 8px; font-size: 16px; ">Get
                            Flat Details</button><br><br>
                        <button (click)="deletewishlist(flat.flatId)"
                            style="border-radius: 8px; color:white; background-color: rgb(58, 31, 216); border-color: rgb(58, 31, 216); padding: 8px; font-size: 16px; ">Remove
                            From Wishlist</button>

                    </div>
                </div>
            </div>
        </div>




        <div class="modal" id="ownerModal" tabindex="-1" role="dialog" *ngIf="apartments">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"> <b>Owner Details</b></h3>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button> -->
                    </div>
                    <div class="modal-body">
                        <!-- <p>Modal body text goes here.</p> -->
                        <div class="d-flex flex-column justify-content-start user-profile w-100">
                            <div class="d-flex user">
                                <img class="rounded-circle"
                                    src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg"
                                    width="100px">
                                <div class="about" style="margin-left: 20px; margin-top: 20px;">
                                    <h3 class="d-block text-black font-weight-bold">{{flat.ownerName}}</h3>
                                    <h3 style="margin-top: -20px;">{{flat.ownerType}}</h3>
                                </div>
                            </div>
                            <br>
                            <div class="progresses" >
                                <h4>Phone no</h4>
                                <div class="progress mt-1" style="height: 28px;">
                                    <h4 style="width: 50%; margin-left: 20px;">{{flat.ownerPhone}}</h4>
                                </div>
                            </div>
                            <div class="progresses">
                                <h4>Email id</h4>
                                <div class="progress mt-1" style="height: 28px;">
                                    <h4 style="width: 50%; margin-left: 20px;">{{flat.ownerMail}}</h4>
                                </div>
                            </div>
                            <div class="progresses">
                                <h4>Address</h4>
                                <div class="progress mt-1" style="height: 70px;">
                                    <!-- <h4 style="width: 50%; height: 70%; margin-left: 20px;">Npci</h4>
                                            <h4 style="width: 50%; height: 70%; margin-left: 20px;">mumbai</h4>  -->
                                    <ul>
                                        <li>
                                            <h4>{{flat.locality}}</h4>
                                        </li>
                                        <li>
                                            <h4>{{flat.city}}, India</h4>
                                        </li>
                                        <!-- <li> <h4>{{owner.add3}}</h4></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        <button type="button" class="btn btn-primary btn-lg" style="background-color: blue;"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
