/* .how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
    border: 1px solid gray;
    width: 70%;
}
.how-img 
{
    /* text-align: center; 
}*/
/* .how-img img{
    width: 60%;
    padding: 10px;
}
.bhk{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    margin-left: 40px;
    align-items: center;
}  */




.bhk{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    /* margin-left: 40px; */
    align-items: center;
    padding-top: 20px;
    gap: 30px;
}
.bhk :first-child{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border: 1px solid rgb(194, 190, 190);
    
    /* padding-left: 20px;
    padding-right: 20px; */
    text-align: center;
    
    width: 80px;
    margin-right: 50px;
    background-color: rgb(250, 246, 246);
}
.bhk :last-child{
    border: 1px solid rgb(194, 190, 190);
    margin-left: 30px;
    width: 80px;
    text-align: center;
    background-color: rgb(250, 246, 246);
    
}



.bhk1{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    /* margin-left: 40px; */
    align-items: center;
    padding-top: 20px;
    gap: 30px;
}
.bhk1 :first-child{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border: 1px solid rgb(194, 190, 190);
    
    /* padding-left: 20px;
    padding-right: 20px; */
    text-align: center;
    
    width: 200%;
    margin-right: 50px;
    background-color: rgb(250, 246, 246);
}
.bhk1 :last-child{
    border: 1px solid rgb(194, 190, 190);
    margin-left: 30px;
    width: 80px;
    text-align: center;
    background-color: rgb(250, 246, 246);
    
}






body {
    background: #eee;
 
}

.icon-container {
    border-radius: 7px
}

.stars i {
    margin-right: 2px;
    color: red;
    font-size: 13px
}

.rating-number {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px
}

.number-ratings {
    font-size: 12px
}

.listing-title {
    margin-bottom: -7px
}

.progress-bar {
    background: rgb(99, 99, 227)
}

.progress {
    height: 16px
}

.tags span {
    margin-right: 9px;
    border: 1px solid rgb(99, 99, 227);
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 7px;
    background-color: rgb(99, 99, 227);
    color: #fff
}
#rating{
    padding-top: 10px;
    /* height: 40%; */
}
#rating :first-child{
    font-size: 16px;
    margin-right: 18px;
}
#rating :nth-child(2){
    font-size: 16px;
    margin-right: 18px;
}
#rating :last-child{
    font-size: 16px;
}
.vl {
    border-left: 2px solid gray;
    height: 200px;
    padding-right: 10px;
  }
  #wish{
    width: 5%;
    margin-left: 80%;
    margin-top: -60px;
  }
    
  .zoom:hover {
    /* -ms-transform: scale(1.5); 
    -webkit-transform: scale(.5);  */
    /* transform: scale(1.01);  */
    border-color: 1px solid red;
  }
  .checked {
    color: orange;
  }
  .starr{
    margin-left: 40%;
    margin-top: -20px;
    width: 900px;
    height: 100px;
    /* size: 60px; */
  }



  /* *{
    margin: 0;
    padding: 0;
} */
.rate {
    float: left;
    /* height: 46px; */
    height: 100px;
    padding: 0 10px;
    width: 80px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}




.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 20px;
    margin-top: -24px;
    }
    
    
    .rating > input{ display:none;}
    
    .rating > label {
    position: relative;
    width: 1.1em;
    /* font-size: 15vw; */
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    
    .rating:hover > input:checked ~ label:before{ opacity: 0.4; }
    
    