<app-navbar></app-navbar>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://thumbs.dreamstime.com/b/beautiful-exterior-home-pictures-new-home-design-images-modern-best-house-design-images-best-house-images-images-latest-172194515.jpg"  alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4 style="border: 1px solid gray;">Apartment name</h4>
                            <div class="bhk">
                                <h3>BHK</h3>
                                <h3>Area</h3>
                            </div>
                            <div class="bhk">
                                <h3>Price</h3>
                                <h3>Deposit</h3>
                            </div>
                            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
                        <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.
                                            </p>
                        </div>
                    </div> 
                </div>-->





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 align="center" style="margin-top: 20px;" *ngIf="apartments.length>0"><b>Available Flats in {{selectedCity}}</b></h1>
<h1 align="center" style="margin-top: 20px;" *ngIf="apartments.length==0"><b>No flats found for {{selectedCity}}!</b></h1>


<!-- <h1 *ngIf="apartments.length==0">No Flats available!</h1> -->
<div class="container mt-5 mb-5 zoom" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; width: 80%;"
    *ngFor="let flat of apartments">
    <div class="row">
        <!-- <div class="col-md-12" style="width: 80%;">  -->
        <div class="bg-white p-3 rounded mt-2">
            <div class="row">
                <div class="col-md-3"
                    style="width: 40%; margin-right: 80px; padding-left: 20px; padding-top: 50px; padding-bottom: 30px;">

                    <div class="d-flex flex-column justify-content-center"
                        style=" align-items: center; width: 90%; height: 70%;">
                        
                        <img width="90%" src="assets/RentPage_flat.jpg"
                            alt="">
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-md-6 border-right" style="margin-left: -80px; padding-top: 10px; width: 30%;">
                    <div class="listing-title">
                        <h1>{{flat.flatName}}</h1>
                    </div>
                    <div class="bhk">
                        <h4>{{flat.bHK}} BHK</h4>
                        <h4>500 sft</h4>
                    </div>
                    <div class="bhk1">
                        <h4>Price <br> ₹{{flat.rent}}</h4>
                        <h4>Deposit <br> ₹10,000 </h4>
                    </div>
                    <!-- </div>  -->
                    <div class="bhk">
                        <h4>furnished</h4>
                        <h4> Available </h4>
                    </div>
                    <div class="tags" style="margin-bottom: 17px;" id="rating">
                        <span>Ratings</span>
                    </div>
                    <div class=" rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        
                    </div>
                    <!-- </div>  -->
                </div>

                <div class="d-flex col-md-3"
                    style="background-color: rgb(250, 246, 246); height: 200px; margin-top: 30px;">
                    
                    <div style="padding-top: 20px; margin: auto;">
                        <button (click)="ownerDetails(flat)"
                            style="border-radius: 8px; color:white; background-color: rgb(58, 31, 216); border-color: rgb(58, 31, 216); padding: 8px; font-size: 16px; ">Contact
                            Owner</button><br><br>
                        <button (click)="addToWishList(flat.flatId)"
                            style="border-radius: 8px; color:white; background-color: rgb(58, 31, 216); border-color: rgb(58, 31, 216); padding: 8px; font-size: 16px; ">Add
                            to Wishlist</button><br><br>
                        <button (click)="getFlatDetails(flat.flatId)"
                            style="border-radius: 8px; color:white; background-color: rgb(58, 31, 216); border-color: rgb(58, 31, 216); padding: 8px; font-size: 16px; ">Get
                            Flat Details</button>

                    </div>
                </div>
            </div>
        </div>




        <div class="modal" id="ownerModal" tabindex="-1" role="dialog" *ngIf="owner">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Owner Details</h3>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
                    </div>
                    <div class="modal-body">
                        <!-- <p>Modal body text goes here.</p> -->
                        <div class="d-flex flex-column justify-content-start user-profile w-100">
                            <div class="d-flex user">
                                <img class="rounded-circle"
                                    src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg"
                                    width="50">
                                <div class="about ml-1">
                                    <h3 class="d-block text-black font-weight-bold">{{owner.ownerName}}</h3>
                                    <h3>{{owner.occupation}}</h3>
                                </div>
                            </div>
                            <div class="progresses">
                                <h4>Phone no</h4>
                                <div class="progress mt-1" style="height: 20px;">
                                    <h4 style="width: 50%; margin-left: 20px;">{{owner.ownerPhone}}</h4>
                                </div>
                            </div>
                            <div class="progresses">
                                <h4>Email id</h4>
                                <div class="progress mt-1" style="height: 20px;">
                                    <h4 style="width: 50%; margin-left: 20px;">{{owner.ownerMail}}</h4>
                                </div>
                            </div>
                            <div class="progresses">
                                <h4>Address</h4>
                                <div class="progress mt-1" style="height: 80px;">
                                    <!-- <h4 style="width: 50%; height: 70%; margin-left: 20px;">Npci</h4>
                            <h4 style="width: 50%; height: 70%; margin-left: 20px;">mumbai</h4>  -->
                                    <ul>
                                        <li>
                                            <h4>{{owner.locality}}</h4>
                                        </li>
                                        <li>
                                            <h4>{{owner.city}}</h4>
                                        </li>
                                        <li>
                                            <h4>India</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        <button type="button" class="btn btn-secondary" style="background-color: blue;"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>