<app-navbar></app-navbar>

<div class="select-container">
    <mat-form-field class="form-container" appearance="outline">
        <mat-label> Which City are you looking for ? </mat-label>
        <mat-select [(value)]="selectedCity">
            <mat-option *ngFor="let city of availableCities" [value]="city">{{city}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-container" appearance="outline">
        <mat-label> How many BHKs do you need ? </mat-label>
        <mat-select [(value)]="selectedBHKs">
            <mat-option *ngFor="let BHK of availableBHKs" [value]="BHK">{{BHK}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search()">Search</button>
</div>
