<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4"   #passwordValidation="ngForm" >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0" [formGroup]="registerform">
                      <label class="form-label" for="form3Example1c"></label>
                      <input type="text" id="form3Example1c" class="form-control"placeholder="Name" formControlName="Name">
                      <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && Name.touched" >
                        Name is required.
  
                      </div>
                      <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] && Name.touched" >
                        Atelast more than 2 characters are required
  
                      </div>
                      <div class="form-text text-danger" *ngIf="Name.errors?.['pattern'] && Name.touched" >
                        Number are not allowed
  
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0" [formGroup]="registerform">
                      <label class="form-label" for="form3Example3c"></label>
                      <input type="email" id="form3Example3c"  class="form-control" placeholder="Email" formControlName="Email">
                      <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && Email.touched" >
                        Email is required.

                      </div>

                      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && Email.touched" >
                        Email format is Invalid.

                      </div>

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0" >
                     
                     
                      <label class="form-label" for="form3Example4c"></label>
                      
                      <input type="password" class="form-control" placeholder="Enter Password" name="Password" [(ngModel)]="registerArray.Password" #Password="ngModel" minlength="8" maxlength="100" required="" [pattern]="passwordPtrn" required>
        <span class="error-msg" style="color:red"  *ngIf="(Password.touched || passwordValidation.submitted) && Password.errors?.['required']">Password required</span>
        <span class="error-msg" style="color:red"  *ngIf="(Password.touched || passwordValidation.submitted) && Password.errors?.['pattern']">Password must be 8 to 12 characters and should contain a) Atleast 1 capital letter
             Atleast 1 lowercase letter ,
             Atleast 1 symbol ,
             Minimum 8 characters ,
             Atleast 1 Number
        </span>
   
                   
                   
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd"></label>
                   
                      <input type="password" class="form-control"  placeholder="Enter confirm Password" name="confirmPassword" [(ngModel)]="registerArray.confirmPassword" #confirmPassword="ngModel" minlength="8" maxlength="12" required="">
                      <span class="error-msg" style="color:red"  *ngIf="(confirmPassword.touched || passwordValidation.submitted) && confirmPassword.errors?.['required']">Confirm Password required</span>
                      <span class="error-msg" style="color:red"  *ngIf="(confirmPassword.touched || passwordValidation.submitted) && registerArray.Password !==registerArray.confirmPassword"     >Password and Confrim Password should be same</span>
                 


                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="phone"></label>
                      <!-- <input type="tel" class="form-control" placeholder="Enter your phone number" /> -->
                      <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control"
              placeholder="Enter Phone Number" [(ngModel)]="phoneNumber" min="10" max="15">
              <br>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otpModal"
                        (click)="getOTP()">Get OTP</button>
                      <div id="sign-in-button"></div>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" mat-raised-button colour="primary"
                      (click)="register()">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://cdn.dribbble.com/users/943447/screenshots/2912250/dribbble-debut.gif"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" tabindex="-1" id="otpModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verify OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleClick()">Verify</button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>